:root {
    --zoom-level: 1;
}

.head {
    position: fixed;
    top: 5px;
    background-color: rgb(10, 10, 10);
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 40px;

    border-radius: 15px;

    height: 60px;
    width: calc(100% - 25px);

    text-align: left;
    padding: 5px;
    margin: 5px;
    user-select: none;

    z-index: 10;

    overflow: hidden;
}

body {
    margin: 0px;
    padding: 0px;
}

/* .head p {
    font-weight: bold;
    text-align: left;
    height: 60px;
    padding-left: 20px;
} */

.head a {
    font-weight: bold;
    text-align: left;
    height: 60px;
    padding-left: 20px;
}

.normalButton {}

.headButton {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    margin-left: 15px;
    padding: 0px !important;
    margin-top: 11px;
    font-size: 30px;
    user-select: none;
    transition: text-shadow 300ms;
    float: right;
}

.headButton:link {
    background: none;
}

.headButton:hover {
    text-shadow: 0px 0px 20px rgb(200, 200, 200);
    transition: text-shadow 200ms;
    margin-bottom: 5px;
}

.primaryBackground {
    background-image: linear-gradient(to top, rgb(10, 10, 10), rgb(50, 50, 50));
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: -10;
}

.myName {
    font-family: sans-serif;
    margin-left: 10%;
    font-weight: bold;
    color: white;
    font-size: 80px;
    display: block;
    user-select: none;
}

.selfIntro {
    font-size: 30px;
    margin-left: calc(10% + 50px);
    margin-top: 10px;
    font-weight: 500;
    color: rgb(230, 230, 230);
    line-height: 150%;
    width: 50%;
}

.glow-white {
    text-shadow: 0px 0px 10px rgb(100, 100, 100);
}

div::-webkit-scrollbar {
    display: none;
}

html::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

html,
body {
    overflow-x: hidden;
}

div {
    overflow-y: hidden;
}

.noSelect {
    user-select: none;
}

vr {
    width: 5px;
    background: white;
    height: 0px;
    float: right;
    margin-top: 22.5px;
    transition: all 300ms;
    border-radius: 1px;
}

.wrapper {
    min-height: calc(150vh / var(--zoom-level));
}

.footer {
    width: 100%;
    height: 200px;
    background-color: black;
    text-align: center;
}


@media screen and (max-width: 800px) {
    .selfIntro {
        width: 80%;
    }
}


@media (max-width: 600px) {
    body {
        zoom: 0.6;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    body {
        zoom: 0.8;
    }
}

@media (min-width: 1000px) {
    body {
        zoom: 1.1;
    }
}